/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url('../fonts/fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  padding: 0;
  margin: 0;
}

body, html {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #474747;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  body, html {
    font-size: 100%;
  }
}

@media only screen and (min-width: 992px) {
  body, html {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  body, html {
    font-size: 100%;
    line-height: 1.5;
  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.page {
  position: relative;
  z-index: 99;
}

@media only screen and (min-width: 1200px) {
  .page {
    padding-top: 115px;
  }
}

@media only screen and (min-width: 992px) {
  .page.ecommerce {
    padding-left: 15vw;
  }
}

.page-left-right {
  position: relative;
}

.page-left, .page-right {
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  .page-left, .page-right {
    width: 42vw;
    min-height: calc(100vh - 52px);
  }
}
@media only screen and (min-width: 1200px) {
  .page-left, .page-right {
    width: 42.5vw;
    min-height: calc(100vh - 115px);
  }
}
.page-left {
  background-color: #F1F1F1;
  height: 100vw;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

@media only screen and (min-width: 992px) {
  .page-left {
    top: 52px;
    height: calc(100vh - 52px);
    position: fixed;
  }
}

@media only screen and (min-width: 1200px) {
  .page-left {
    top: 115px;
    height: calc(100vh - 115px);
    position: fixed;
  }
}



.page-left__media {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page-left__media--img {
  width: 101%;
  background-position: center;
  background-size: cover;
}

.page-left__media.this-active {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}

@media only screen and (min-width: 992px) {
  .page-right {
    margin-left: 58vw;
  }
}

@media only screen and (min-width: 1200px) {
  .page-right {
    margin-left: 57.5vw;
  }
}

.js-page-left {
  -webkit-transition: border-width 0.8s ease;
  -moz-transition: border-width 0.8s ease;
  -ms-transition: border-width 0.8s ease;
  -o-transition: border-width 0.8s ease;
  transition: border-width 0.8s ease;
  border: solid 0 #fff;
}

.js-page-left.unstick {
  position: absolute;
  bottom: 0;
  top: auto;
  border-width: 30px;
}

@media only screen and (min-width: 1200px) {
  .js-page-left.unstick {
    border-width: 40px; }
}

.page-section {
  padding: 0 15px 60px;
  min-height: 90vh;
}

@media only screen and (min-width: 768px) {
  .page-section {
    padding: 0 30px 90px;
    min-height: calc(100vh - 115px);
  }
}

@media only screen and (min-width: 992px) {
  .page-section {
    padding: 28vh 30px 18vh;
    min-height: calc(75vh - 115px);
  }
}

@media only screen and (min-width: 1200px) {
  .page-section {
    padding: 28vh 40px 18vh;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--last {
    min-height: 100vh;
  }
}

.page-section--pdt {
  padding: 120px 15px 40px;
}

@media only screen and (min-width: 768px) {
  .page-section--pdt {
    padding: 120px 30px 40px;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--pdt {
    padding: 22vh 0 10vh;
  }
}

.page-section--full {
  padding: 40px 15px 60px;
}

@media only screen and (min-width: 768px) {
  .page-section--full {
    padding: 60px 30px 90px;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--full {
    padding: 0 0 10vh;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--full .section-title {
    margin-top: 22vh;
  }
}

.page-section__btn {
  margin-top: 25px;
}

@media only screen and (min-width: 768px) {
  .page-section__btn {
    margin-top: 50px;
  }
}

.section-banner {
  margin: 0 -15px 40px;
  overflow: hidden;
  position: relative;
}

.section-banner img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section-banner:after {
  content: '';
  display: block;
}

.section-banner img {
  width: 100%;
}

.section-banner:after {
  padding-top: 100%;
}
@media only screen and (min-width: 768px) {
  .section-banner {
    margin: 0 -30px 60px;
  }
}

.section-banner__media {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-banner__media--img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.js-reveal {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s ease, transform 0.5s ease;
  -moz-transition: opacity 0.5s ease, transform 0.5s ease;
  -ms-transition: opacity 0.5s ease, transform 0.5s ease;
  -o-transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  transform: translateY(40px);
}

@media only screen and (min-width: 992px) {
  .js-reveal {
    -webkit-transition: opacity 0.8s ease, transform 0.8s ease;
    -moz-transition: opacity 0.8s ease, transform 0.8s ease;
    -ms-transition: opacity 0.8s ease, transform 0.8s ease;
    -o-transition: opacity 0.8s ease, transform 0.8s ease;
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
}

.js-reveal.reveal {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
  font-size: initial;
  font-weight: normal;
}

@media only screen and (min-width: 768px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.section-title {
  font-size: 1.375rem;
  font-family: 'Didot', sans-serif;
  font-weight: 400;
  letter-spacing: .03rem;
  margin-bottom: 25px;
}

p {
  margin: 0;
  max-width: 800px;
  line-height: 1.4;
  letter-spacing: .015rem;
}

.copy-wrapper p {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .copy-wrapper p {
    margin-bottom: 20px;
  }
}

.copy-wrapper p:last-child {
  margin-bottom: 0;
}

.page-section__btn {
  margin-top: 25px;
}

@media only screen and (min-width: 768px) {
  .page-section__btn {
    margin-top: 50px;
  }
}

.btn {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 100px;
  background-color: #474747;
  color: #ffffff;
  padding: 7px 22px 10px;
  position: relative;
  overflow: hidden !important;
  line-height: 1;
  -webkit-appearance: none !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #d5c8ad;
  color: white;
}

.btn__lbl {
  position: relative;
  z-index: 20;
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.page-date__nav {
  display: none;
  right: 10px;
  z-index: 101;
  opacity: 0.4;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (min-width: 768px) {
  .page-date__nav {
    display: block;
    position: fixed;
    top: 55px
  }
}

@media only screen and (min-width: 992px) {
  .page-date__nav {
    top: 52px
  }
}

@media only screen and (min-width: 1200px) {
  .page-date__nav {
    top: 115px
  }
}

.page-date__nav:hover {
  opacity: 1;
}

.page-date__nav .vertical-line {
  height: 30px;
  margin: 0;
  padding: 0;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:center;
  justify-content:center
}

.page-date__nav .vertical-line::before {
  content: '';
  width: 0;
  height: 100%;
  border-right: solid 1px #474747;
}

.page-date__nav .dot {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:center;
  justify-content:center;
  position: relative;
}

.page-date__nav .dot::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #474747;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page-date__nav .dot.this-active::before {
  transform: scale(2);
}

.page-date__nav .dot .page-date__btn {
  position: absolute;
  top: 50%;
  right: 10px;
  width: auto;
  transform: translateY(-50%);
  white-space: nowrap;
  background: none;
  border: none;
}

.page-date__nav .dot .page-date__btn .btn__lbl {
  font-size: 0.7rem;
  opacity: 0.6;
  transform: scale(1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page-date__nav .dot.this-active .page-date__btn .btn__lbl {
  transform: scale(1.1);
  opacity: 1;
}

.navbar {
  padding: 7px;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  border-bottom: solid 1px #cccccc;
  background-color: white;
}

.navbar .navbar-toggler {
  color: #cccccc;
  border-color: #cccccc;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media only screen and (min-width: 1200px) {
  .navbar {
    padding: 0 60px;
    height: 115px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar .navbar-brand {
    height: 100%;
    width: 35px;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar .navbar-brand {
    display: none;
    width: 175px;
    background: white;
    padding: 22px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0 0 10px 0 #cccccc96;
    -moz-box-shadow: 0 0 10px 0 #cccccc96;
    box-shadow: 0 0 10px 0 #cccccc96;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar .navbar-brand {
    display: block;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar .navbar-collapse {
    height: 100%;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar .navbar-collapse .nav-item {
    margin: 5px 10px;
    min-width: 100px;
    text-align: center;
  }
}

.navbar .navbar-collapse .nav-item a.nav-link {
  color: #474747;
  font-weight: 400;
  transition: all .2s ease;
}

.navbar .navbar-collapse .nav-item.active a.nav-link,.navbar .navbar-collapse .nav-item:hover a.nav-link {
  font-weight: 600;
}

.test {
  height: 100vh;
}
